---
/** List articles with a given tag */
import BaseLayout from 'layout:BaseLayout';
import ArticleListEntry from 'component:ArticleListEntry.astro';

export async function getStaticPaths() {
  let params = [];
  let articlesForTag = {};

  const articles = Astro.fetchContent('../**/*.md');
  const taggedArticles = articles.filter(
    (article) => article.tags !== undefined
  );

  taggedArticles.forEach((article) => {
    article.tags.forEach((tag) => {
      if (articlesForTag[tag] === undefined) {
        articlesForTag[tag] = [];
      }

      articlesForTag[tag].push(article);
    });
  });

  for (const [tag, articles] of Object.entries(articlesForTag)) {
    const sortedArticles = articles.sort((a, b) =>
      new Date(b.date).valueOf() - new Date(a.date).valueOf()
    );

    params.push({
      params: { tag: tag },
      props: { articles: sortedArticles },
    });
  }

  return params;
}

const { tag } = Astro.request.params;
const { articles } = Astro.props;
const content = {
  title: `Tag: ${tag}`,
};
---
<BaseLayout content={content}>
  <p>
    Showing {articles.length} articles tagged <em>{tag}</em>
  </p>
  {articles.map((article) => <ArticleListEntry article={article} />)}
</BaseLayout>
